<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
      <div class="current_user"  *ngIf="currentUser">
        <i class="fa fa-user-circle"></i>
        <a class="mr-1">{{currentUser?.firstName}}</a>
      </div>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
