<div class="card bg-light shadow border-0">
  <h4 class="card-header bg-transparent pb-3">
    <i class="fas fa-users"></i>
    <b> List Customers</b>
  </h4>
  <div class="card-body bg-transparent pb-3">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Phone</th>
          <th scope="col">Celphone</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Helder Silva Cruz</td>
          <td>(61) 3458-5555</td>
          <td>(61) 98425-1001</td>
          <td>heldercruzh@gmail.com</td>
          <td><i class="fas fa-edit"></i></td>
          <td><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
          <td>Filipe Silva Santos</td>
          <td>(61) 3485-2030</td>
          <td>(61) 98425-1001</td>
          <td>filipemx@gmail.com</td>
          <td><i class="fas fa-edit"></i></td>
          <td><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
          <td>Heverton da Silva Cruz</td>
          <td>(61) 3485-2030</td>
          <td>(61) 98425-1001</td>
          <td>heverton7@gmail.com</td>
          <td><i class="fas fa-edit"></i></td>
          <td><i class="fas fa-trash-alt"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
