<!-- Page content -->
<div class="container-fluid pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-light shadow border-0">
        <div class="card-header bg-transparent pb-3">
          <div class="text-center text-muted mt-2 mb-3"><small>Sign in with</small></div>
          <div class="text-center">
            <button class="btn btn-light">
              <i class="fab fa-facebook" style="color:#3b5998"></i>
              <span class="ml-1">Facebook</span>
            </button>
            <button class="btn btn-light ml-2">
              <i class="fab fa-google" style="color:#db4a39"></i>
              <span class="ml-1">Google</span>
            </button>
          </div>
        </div>
        <div class="card-body px-lg-3 py-lg-3">
          <div class="text-center text-muted mb-4">
            <small>Identifique-se para receber um e-mail com as instruções e o link para criar uma nova senha.</small>
          </div>
          <form [formGroup]="forgetPasswordForm" autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" formControlName="cpfCnpj" id="cpfCnpj"
                class="form-control" placeholder="Your CPF ou CNPJ"
                required autofocus [ngClass]="{ 'is-invalid': submitted && f.cpfCnpj.errors }"/>
                <div *ngIf="submitted && f.cpfCnpj.errors" class="invalid-feedback">
                  <div *ngIf="f.cpfCnpj.errors.required">CPF ou CNPJ is required</div>
                </div>
                <!--<div class="invalid-feedback">CPF ou CNPJ is required</div>-->
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" formControlName="email" id="email" class="form-control"
                placeholder="Your email" required [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
                    <!--<div class="invalid-feedback">Email is required</div>-->
              </div>
            </div>
            <div class="form-group">
              <re-captcha formControlName="captcha" siteKey="6Lfh_MUZAAAAADMfvC9kMCxcpmGqBWlZPH8NNTLA" required></re-captcha>
            </div>
            <div class="form-group text-center">
              <button [disabled]="loading && forgetPasswordForm.invalid"  class="btn btn-dark shadow border-0 my-4">Send</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-1">
        <button type="button" class="col-6 text-left btn btn-link text-dark" (click)="goLogin()"><small>Came back to login</small></button>
      </div>
    </div>
  </div>
</div>
