/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #d3d3d3;
  background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,2));
  border: 0;
  margin: 0;
}
